.container{
    text-align: center;
}

#game {
    border: 3px solid;
}

.score{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}

.reset{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}